/* app/components/SearchBar.module.css */
.searchForm {
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;
    max-width: 600px;
}

.searchInput {
    flex: 1;
    padding: 0.5rem;
    padding-left: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
    outline: none;
    font-size: 1rem;
    color: black;
    border-radius: 20px;
}

.searchButton {
    border: none;
    color: black;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 0.5rem;
    font-size: 1rem;
    position: absolute;
}

.searchButton:hover {
    background-color: #ccc;
}