.main {
    padding: 5rem;
    text-align: center;
}

.title {
    font-size: 4rem;
    font-weight: 600;
    color: #333;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-top: 1px solid #eaeaea;
    font-size: 0.875rem;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.layout {
    display: flex;
    flex-grow: 1;
    padding: 20px;
}

.sidebar {
    width: 250px;
    padding: 20px;
    background-color: #f4f4f4;
}

.main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
    align-items: start;
    display: flex;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    align-items: start;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.02);
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    color: #666;
    text-align: start;
}

.btnDiscover {
    margin-top: 30px;
    color: white;
    font-weight: 600;
    margin-left: auto;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    position: relative;
    text-decoration: none;
    background: lighten(#800000, 3%);
    border: 1px solid darken(#800000, 4%);
    font-weight: 700;
    transition: all 150ms linear;
}

.dateContainer {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 20px 0;
}

.selectDate {
    padding: 10px;
}

.card:hover .btnDiscover {
    background: darken(#800000, 1.5%);
    border: 1px solid rgba(#000, .05);
    text-decoration: none;
    transition: all 250ms linear;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    filter: blur(4px);
    z-index: 900;
}

.datePopup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.closeButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.calendarContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    input {
        margin-left: 10px;
    }
}